* {
    box-sizing: border-box;;
}

:root {
    --color-bg-default: white;
    --color-text: black;    
}

body, html {
    background-color: var(--color-bg-default);
    color: var(--color-text);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.toolbar {
    height: 50px;
}

.editor {
    flex: 1;
    padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg-default: #0d1117;
        --color-text: white;
    }

    .toolbar {
        filter: invert(1);
    }
}

html[data-color-mode*='dark'] {
    --color-bg-default: #0d1117 ;
    --color-text: white ;
}

html[data-color-mode*='dark'] .toolbar {
    filter: invert(1) ;  
}

html[data-color-mode*='light'] {
    --color-bg-default: #white ;
    --color-text: black ;
}

html[data-color-mode*='light'] .toolbar {
    filter: invert(0) ;  
}
